.woocommerce .content .entry {
    overflow: auto;
}

.site-inner {
    background-color: white !important;
}

.posted_in {
    display: none;
}

.single-product .sidebar-primary {
    display: none;
}

.single-product .content {
    max-width: 100%;
}